/* YOUR CUSTOM STYLES */

nav.navbar.navbar-dark.navbar-fixed-top.scrolling-navbar {
  box-shadow: none;
}

.section-heading {
  text-align: center;
}

.gray-linear {
  background-color: whitesmoke;
}

.features-small .fa {
  font-size: 2rem
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


.wrap {
    width: 100%;
}

.productlink h1{
  transition-property: font-size, font-weight;
  transition-duration: .55s;
  transition-timing-function: ease;
}

.productlink:hover h1{
  color: whitesmoke;
  font-size: 350%;
  font-weight: 500;
}


.productMenuHeight {
  max-height: 400px;
}

.hr {
  border-bottom: 1px solid #babfc3;
}

.section img {
  box-shadow:none;
}

.nosotros-heading h1 {
  margin-bottom: 1rem;
}


p {
  color: #757575;
  font-weight: 300;
}
