/* YOUR CUSTOM STYLES */


html,
body,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: rgba(162, 27, 0, 0.95);
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: -1px;
}

@media only screen and (max-width: 768px) {
    .navbar {
      color: inherit;
    }
}
/*Call to action*/

.flex-center {
    color: #fff;
}

/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.intro1 {
    background: url("../img/intro/venice-grinmil.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro2 {
    background: url("../img/intro/cualidad.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro3 {
    background: url("../img/intro/recetas.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}

nav.navbar.navbar-dark.navbar-fixed-top.scrolling-navbar {
  box-shadow: none;
}

.section-heading {
  text-align: center;
}

.gray-linear {
  background-color: whitesmoke;
}

.features-small .fa {
  font-size: 2rem
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.wrap {
    width: 100%;
}

.productlink h1{
  color: #ffffff;
  transition-property: font-size, font-weight, color;
  transition-duration: .55s;
  transition-timing-function: ease;
}

.productMenuHeight {
  max-height: 493px;
}

.hr {
  border-bottom: 1px solid #babfc3;
}

.section img {
  box-shadow:none;
}

.nosotros-heading h1 {
  margin-bottom: 1rem;
}

p {
  color: #757575;
  font-weight: 300;
}

.productos-title-bg {
  background-color: #feda6e;
  background-image: url(https://www.transparenttextures.com/patterns/old-map.png);
}


@media (max-width: 543px) {
  .productlink:active h1{
    color: #feda6e;
    font-size: 350%;
    font-weight: 500;
  }


  .section .section-heading {
    margin-bottom: 2rem;
  }

  .section .section-description {
    margin-bottom: 2rem;
  }
}


@media (min-width: 544px) {
  .productlink:hover h1{
    color: #feda6e;
    font-size: 350%;
    font-weight: 500;
  }
}

.encontrarnos-bg {
  background-color: #ececea;
  background-image: url(https://www.transparenttextures.com/patterns/wall-4-light.png);

}


#map {
  height: 450px;
  width: 100%;
}
.contacto {
  background-color: #ffffff;
  background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

.contacto .fa {
  color: #feda6e;
}

.nosotros-bg {
  background-color: #ffffff;
  background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
}

.granola-bg {
  background-color: #ffffff;
  background-image: url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png);
}

.galeria-bg {
  color: white;
  background-color: #6d6e6d;
  background-image: url(https://www.transparenttextures.com/patterns/black-linen.png);
}

.md-form label.active {
  font-size: .8rem;
  -webkit-transform: translateY(-60%);
  -moz-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  -o-transform: translateY(-60%);
  transform: translateY(-60%)
}


.md-form .prefix.active {
  color: rgba(162, 27, 0, 0.95);
}


input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #a21917;
    box-shadow: 0 1px 0 0 #a21917;
}
